<nav>
    <div class="blogsite-title">
      <a href="/">Maxi's Blog</a>
    </div>

    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>