<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis,
        nemo voluptate consequatur modi incidunt eaque, dolore tempore beatae,
        ab recusandae eos? Neque totam eligendi delectus sapiente nostrum earum
        possimus! Eius?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis,
        nemo voluptate consequatur modi incidunt eaque, dolore tempore beatae,
        ab recusandae eos? Neque totam eligendi delectus sapiente nostrum earum
        possimus! Eius?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis,
        nemo voluptate consequatur modi incidunt eaque, dolore tempore beatae,
        ab recusandae eos? Neque totam eligendi delectus sapiente nostrum earum
        possimus! Eius?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
